@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700|Istok+Web|Oxygen:300,700,400|Varela+Round|Chivo|Telex);
html {
  color: white !important; }

@media (max-width: 767px) {
  html {
    width: 100%; } }
@media (min-width: 768px) {
  html {
    width: 560px; } }
.root.timeline.twitter-timeline {
  background-color: #2c3e50; }
  .root.timeline.twitter-timeline p, .root.timeline.twitter-timeline a, .root.timeline.twitter-timeline ol, .root.timeline.twitter-timeline ul, .root.timeline.twitter-timeline li {
    font-family: "Oxygen", "Ubuntu", "Helvetica Neue", Helvetica, arial, sans-serif; }

.root.twitter-timeline .tweet {
  padding: 7px 10px;
  border-bottom: 1px solid white; }
.root.twitter-timeline a,
.root.twitter-timeline a:visited {
  text-decoration: underline; }
.root.twitter-timeline .u-url,
.root.twitter-timeline .expand,
.root.twitter-timeline .hashtag,
.root.twitter-timeline .profile {
  text-decoration: none; }
  .root.twitter-timeline .u-url:hover,
  .root.twitter-timeline .expand:hover,
  .root.twitter-timeline .hashtag:hover,
  .root.twitter-timeline .profile:hover {
    text-decoration: underline;
    color: #fff; }

.u-photo,
.full-name,
.inline-media {
  display: none; }
